.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 408px;
  margin: 0 auto;
  margin-top: 100px;
}

.feedback-form label {
  display: block;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--text-cl);
}

.feedback-form label > input {
  display: block;
  margin-top: 8px;
  border: 1px solid var(--border-cl);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: transparent;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--text-cl);
  transition: var(--animation-hover);
  transition-property: border-color;
}
.feedback-form label > input:hover {
  border-color: var(--dark);
}

.feedback-form label > input:active {
  border-color: var(--border-cl);
}

.feedback-form label > textarea {
  display: block;
  margin-top: 8px;
  border: 1px solid var(--border-cl);
  border-radius: 4px;
  width: 360px;
  height: 80px;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--text-cl);
  outline: transparent;
  resize: none;
  transition: var(--animation-hover);
  transition-property: border-color;
}

.feedback-form label > input:active {
  border-color: var(--border-cl);
}
.feedback-form label > textarea:hover {
  border-color: #000;
}

.feedback-form button {
  align-self: flex-start;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: var(--main-cl);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: var(--animation-hover);
  transition-property: border-color;
  border: none;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background: var(--accent-cl);
}
