.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  margin-top: 24px;
}

.gallery > li {
  width: 360px;

  transition: var(--animation-hover);
  transition-property: transform;
}

.gallery > li:hover {
  transform: scale(1.04);
}
